@import "tailwindcss";
@plugin "daisyui";



.menu a.active {
    border: 1px solid rgb(106, 106, 200)
}

@media (max-width: 375px) {
    .custom-auth-btn {
        display: none !important;
    }
}
.custom-btn {
    display: none !important;
}

@media (max-width: 375px) {
    .custom-btn {
        display: inline-block !important;
    } }